@use './assets/styles/variables.scss' as *;

div {
  background-color: $active-bakground;
  display:inline-block;
  cursor: pointer;

  .active {
    background-color: $active-bakground-active;
  }
}
